<% include partials/header %>

<div class="container">

	<h1>Address Book</h1>


	<h2>Groups</h2>
	<a href="/group/new">Add new Group</a>
	<div class="groups">
		<% groups.forEach(group => { %>
			<p class="group" style="background-color:<%=group.colour%>;color:<%=group.fontColour%>"><%=group.name%> <a class="group__icon" href="/group/<%=group._id%>/edit"><i class="fa fa-pen"></i></a></p>
		<% }) %>
	</div>

	<h2>People</h2>
	<a href="/people/new">Add new Person</a>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Groups</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<% people.forEach(person => { %>
				<tr>
					<td><%= person.firstName %> <%= person.lastName%></td>
					<td><%= person.age %></td>
					<td>
						<% person.groups.forEach(group => { %>
							<span class="badge" style="background-color:<%=group.colour%>;color:<%=group.fontColour%>"><%=group.name%></span>
						<% }) %>
					</td>
					<td>
						<a href="/people/<%= person._id%>">Show</a>
						<a href="/people/<%= person._id %>/edit">Edit</a>
						<form action="/people/<%=person._id%>?_method=DELETE" method="POST">
							<button class="btn btn-link">Delete</button>
						</form>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>

</div>


<% include partials/footer %>