<% include partials/header %>

<div class="container">

	<h1>Address Book</h1>


	<h2>Groups</h2>
	<a href="/group/new">Add new Group</a>
	<div class="groups">
		<% groups.forEach(group => { %>
			<p class="group" style="background-color:<%=group.colour%>;color:<%=group.fontColour%>"><%=group.name%> <a class="group__icon" href="/group/<%=group._id%>/edit"><i class="fa fa-pen"></i></a></p>
		<% }) %>
	</div>

	<h2>Filters</h2>

	<form action="/" method="GET">
		<h3>Columns</h3>
		<p>Choose which columns to display below</p>
		<% for (key in categories) { %>

			<label for="<%=key%>">
				<% if(typeof columns != "undefined" && columns.includes(key)) { %> 
					<input type="checkbox" name="<%=key%>" value="<%=key%>" checked>
				<% } else { %>
					<input type="checkbox" name="<%=key%>" value="<%=key%>" >
				<% } %>
				<%=categories[key]%>
			</label>

		<% } %>
		
		<h3>Filter Groups</h3>
		<p>Choose which groups to see</p>

		<% groups.forEach(group => { %>
			<label>
				<% if(typeof groupFilter != "undefined" && groupFilter.includes(group._id.toString())) { %> 
					<input type="checkbox" value="<%=group._id%>" name="filterGroups" checked>
				<% } else { %>
					<input type="checkbox" value="<%=group._id%>" name="filterGroups">
				<% } %>
				<%=group.name%>
			</label>
		<% }) %>

		<label for="">
			<% if(typeof groupCondition != "undefined" && groupCondition == "all"){ %>
				<input type="radio" name="groupFilter" value="all" checked>
			<% } else { %>
				<% if(typeof groupCondition == "undefined"){ %>
					<input type="radio" name="groupFilter" value="all" checked>
				<% } else { %>
					<input type="radio" name="groupFilter" value="all">
				<% } %>
			<% } %>
			Contains All
		</label>
		<label for="">
			<% if(typeof groupCondition != "undefined" && groupCondition == "some"){ %>
				<input type="radio" name="groupFilter" value="some" checked>
			<% } else { %>
				<input type="radio" name="groupFilter" value="some">
			<% } %>
			
			Contains Some
		</label>

		<button class="btn btn-primary" type="submit">Submit</button>
		<a class="btn btn-danger reset-form" href="/">Reset</a>
	</form>
	

	<h2>People</h2>
	<a href="/people/new">Add new Person</a>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>

				<% if(typeof columns != "undefined") { %>
					<% columns.forEach(key => { %>
						<th><%= categories[key] %></th>
					<% }); %>
				<% } %>
	
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<% people.forEach(person => { %>
				<tr>
					<td><%= person.firstName %> <%= person.lastName%></td>
					<% if (typeof columns != "undefined") { %>
						<% columns.forEach(key => {  %> 
							<% if(key == "groups"){ %>
								<td>
									<% person.groups.forEach(group => { %>
										<span class="badge" style="background-color:<%=group.colour%>;color:<%=group.fontColour%>"><%=group.name%></span>
									<% }) %>
								</td>
							<% } else { %>
								<td><%=person[key] %></td>
							<% } %>

						<% }); %>
					<% } %>

					<td>
						<a href="/people/<%= person._id%>">Show</a>
						<a href="/people/<%= person._id %>/edit">Edit</a>
						<form action="/people/<%=person._id%>?_method=DELETE" method="POST">
							<button class="btn btn-link">Delete</button>
						</form>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>

</div>


<% include partials/footer %>